.header {
  font-size: 1.4rem;
  margin: 5em 5em;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  border-bottom: var(--color-primary-dark);
  min-height: 8em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
